/*
#8ED081; - pistachio
#B4D2BA; - ash gray
#DCE2AA; - pale golden rod
#B57F50; - deer
#4B543B; - rifle green

<link href="https://fonts.googleapis.com/css?family=Caveat|Shadows+Into+Light&display=swap" rel="stylesheet">
font-family: 'Shadows Into Light', cursive;
font-family: 'Caveat', cursive;



*/
body{
	background-color: #fff;
}
#leaf1{
	color: #8ED081;
}
#landing{
	background: url("../images/landingbg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
	justify-content: center;
	width: 100vw;
}
#about{
	background-color: #E8E4E1;
	justify-content: center;
	width: 100vw;
}
#collections{
	background: url("../images/collectionbg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
	justify-content: center;
	width: 100vw;
}
#contact{
	background-color: #E8E4E1;
	justify-content: center;
	width: 100vw;
}
h1{
	font-family: 'Shadows Into Light', cursive;
	font-size: 	80px;
	text-shadow: 1px 1px #f0f0f0;
}
h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 	30px;
	text-shadow: 1px 1px #f0f0f0;
}
h5{
	font-family: 'Caveat', cursive;
	font-size: 30px;
}
p{
	font-family: 'Caveat', cursive;
	font-size:  40px;
	text-shadow: 1px 1px #f0f0f0;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #8ED081;
}
div.card-body a{
	text-decoration: none;
	color: black;
	font-family: 'Caveat', cursive;
	font-size: 25px;
}
div.card-body a:hover{
	color: #B57F50;
}
.collectionimage{
	height: 200px;
}
#contact div h1{
	font-family: 'Shadows Into Light', cursive;
	font-size: 	50px;
	text-shadow: 1px 1px #f0f0f0;
}
.footer{
	color:white;
	background-color: #4B543B;
}
.footer a{
	color:white;
	text-decoration: underline;
}
#card1, #card2, #card3{
	padding-right: 0;
	padding-left: 0;
}


/*team page*/
#team{
	background: url("../images/teambg.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
	justify-content: center;
}
.media{
	width: 100%;
	background-color: #eee;
	border-radius: 0.5em;
}
[alt=media-image]{
	width: 150px;
	height: auto;
	margin-right: 1.5em;
	border-radius: .5em;
}
#team p{
	font-size: 20px;
}
/*leaves, flowers, fruits*/
#leaves{
	background: url("../images/teambg.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
	justify-content: center;
}
#flowers{
	background: url("../images/flowersbg.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
	justify-content: center;
}
#fruits{
	background: url("../images/fruitsbg.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
	justify-content: center;
}
.media{
	width: 100%;
	background-color: #eee;
	border-radius: 0.5em;
}
[alt=media-image-leaf]{
	width: 150px;
	height: auto;
	margin-right: 1.5em;
	border-radius: .5em;
}
#leaves p, #fruits p, #flowers p{
	font-size: 20px;
}

/*media query*/
@media only screen and (min-width: 320px) and (max-width: 767px){
	#leaves, #fruits, #flowers, #team{
		height: 100vh;
	}
	#landing{
		padding-top: 50%;
		height: 100vh;
	}
	#landing h1, #about h1, #collections h1, #contact h1, #team h1, #leaves h1, #flowers h1, #fruits h1{
		font-family: 'Shadows Into Light', cursive;
		font-size: 30px;
		text-shadow: 1px 1px #f0f0f0;
		font-weight: bolder;
	}
	#landing p, #about p, #collections p, #contact p,{
		font-family: 'Caveat', cursive;
		font-size:  30px;
		text-shadow: 1px 1px #f0f0f0;
	}
	#landing h2, #about h2, #collections h2, #team h2, #leaves h2, #flowers h2, #fruits h2{
		font-family: 'Shadows Into Light', cursive;
		font-size: 	20px;
		text-shadow: 1px 1px #f0f0f0;
	}
	a{
		text-decoration: none;
		color: black;
	}
	a:hover{
		color: #8ED081;
	}
	div.card-body a{
		text-decoration: none;
		color: black;
		font-family: 'Caveat', cursive;
		font-size: 20px;
	}
	div.card-body a:hover{
		color: #B57F50;
	}
	div.card-body h2{
		font-weight: bolder;
	}
	div.card-body h5{
		font-size: 20px;
	}
	#contact div.col-sm{
		padding-top: 20%;
		padding-bottom: 20%;
	}
	#team, #leaves, #flowers, #fruits{
		height: 100%;
		padding-top: 20%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
	#leaves, #fruits, #flowers, #team{
		height: 100vh;
		padding-top: 30%;
	}
	#landing{
		height: 100vh;
		padding-top: 40%
	}
}
@media only screen and (min-width: 999px){
	#landing{
		height: 100vh;
		padding-top: 20%;
	}
}
